@import '../setting/color.scss';

header {
    width: 100%;
    height: 60px;
    // padding: 0 173px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-title;

   .logo {
    margin-right: 5%; //140px
   }
   nav {
    margin-right: 5%; //140px

    ul {
        width: 280px;

        list-style: none;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }
   }

   > div {
    width: 50%; //800px

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    select {
        width: 240px;
        height: 30px;
        padding: 0 15px;

        border-radius: 30px;
        margin-right: 15px;
    }

    button {
        width: 115px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 30px;
    }
   }

}