@import '../../../setting/color.scss';

.upArea {
    width: 100%;
    display: flex;
}

.alert {
    width: 100%;
    height: 160px;
    padding: 10px;

    background-color: $color-body;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgb(168, 168, 168);
}

.alertArea {
    width: 200%;

    display: flex;
    gap: 15px;

    .alert {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        background-color: $color-alertBG;

        .alertIcon {
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
        }

        p:nth-of-type(1) {
            font-weight: bold;
            font-size: 10pt;
        }

        p:nth-of-type(2) {
            font-weight: bold;
            font-size: 13pt;
        }
    }
}
