$color-title: #ddd;
$color-alert: #666;
$color-alertBG: white;
$color-forecastBG: #eee;

$color-font: #333333;
$color-graph1: #3F8EF5;
$color-graph2: #8AC926;
$color-graph3: #FFA10B;
$color-graph4: #FF595E;