$color-title: #ddd;
$color-alert: #009df7;
$color-body: #fff;
$color-alertBG: white;
$color-forecastBG: #eee;

$color-font: #333333;
$color-graph1: #3F8EF5;
$color-graph2: #8be001;
$color-graph3: #FEE596;
$color-graph4: #FF595E;