
*{
    margin: 0;
    padding: 0;
}
#layout{
    // header{
    //     width: 100%;
    //     height: 60px;
    //     background-color: aqua;

    // }
    body{
        // display: flex;
        width: 100%;
        height: calc(1080px - 60px - 40px - 120px);
        // position: relative;

        .center{
            width: 80%;
            height: 100%;
            margin: auto;
            display: flex;
            padding-top: 30px;
            background-color: red;

            .click{
                width: 800px;
                background-color: red;
                height: 800px;
                overflow: hidden;
                div{
                    width: 800px;
                    h2{
                        width: 400px;
                        background-color: red;

                    }
                }

            }
            .view{
                width: calc(800px - 40px);
                height: calc(800px - 40px);
                background-color: blue;
                padding: 20px;
                overflow: hidden;
                .alertArea{
                    // .alert{
                    //     display: inline-block;
                    //     width: 170px;
                    //     height: 170px;
                    //     background-color: aqua;
                    //     margin-right: 20px;
                    // }
                    .doit{
                        width: 340px;
                        margin-right: 0;

                    }
                }
                .radarArea{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: start;
                    gap: 20px;
                    overflow: hidden;
                    .graphBar{
                        height: 550px;
                        width: 50px;
                        background-color: red;
                    }
                    .nowMap{
                        height: 550px;
                        width: 350px;
                        background-color: red;
                    }
                    .prevMap{
                        height: 300px;
                        width: 200px;
                        background-color: red;

                    }
                }
            }
            .infoA{
                width: calc(800px - 40px);
                height: calc(800px - 40px);
                padding: 20px;

                background-color: green;
                position: relative;
                overflow: hidden;
                .address{
                    background-color: antiquewhite;
                    width: calc(800px - 40px - 40px);
                    div{
                        display: inline-block;
                        h2,h3,p{
                            width: calc(800px - 40px - 170px);
                        }
                    }
                    button{
                        // display: inline-block;
                        float: right;
                        width: 50px;
                        height: 50px;
                    }
                }
                .info{
                    margin-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    .infoItem{
                        background-color: yellow;
                        display: inline-block;
                        width: 171px;
                        height: 160px;
                    }
                    .infoItem:first-of-type, .infoItem:nth-of-type(2){
                        width: 352px;
                        height: 320px;
                    }
                }
                h3{
                    width: 750px;
                }
                h3:last-of-type{
                    margin-top: 10px;
                }
                .legend{
                    margin-top: 20px;
                    width: 100%;
                    background-color: rgb(67, 54, 180);
                    height: 50px;
                }
                .detailInfo{
                    background-color: tomato;
                    position: absolute;
                    width: calc(800px - 40px);
                    height: calc(800px - 40px);
                    // padding: 20px;
                    top: 0;
                    left: 0;
                    .closeBtn{
                        float: right;
                    }
                    .legend{
                        width: calc(800px - 40px);
    
                    }
                }
            }
            // .true{
            //     width: 800px;
            // }
            // .false{
            //     width: 0;
            // }
        }
    }
    footer{
        width: 100%;
        height: 40px;
        background-color: aqua;
    }



    // display: flex;
    // .click{
    //     background-color: #00f;
    //     width: 300px;
    //     height: 400px;
    //     overflow: hidden;
    // }
    // .view{
    //     background-color: #0ff;
    //     // width: 300px;
    //     height: 400px;
    //     overflow: hidden;
    //     transition:
    //         width 1000ms,
    //         transform 200ms linear
    //     ;
    //     .prevMap{
    //         background-color: #f00;
    //         width: 300px;
    //         height: 150px;
    //     }
    //     .nowMap{
    //         background-color: #0f0;
    //         width: 300px;
    //         height: 150px;
    //     }
    // }
    // .infoA{
    //     position: relative;
    //     overflow: hidden;
    //     .info{
    //         background-color: #f0f;
    //         // width: 300px;
    //         height: 400px;
    //         overflow: hidden;
    //         transition:
    //             width 1000ms,
    //         ;
    //         display: flex;
    //         flex-wrap: wrap;
    //         gap: 10px;
    //         .infoItem{
    //             width: 90px;
    //             height: 90px;
    //             background-color: #ff0;
    //         }
            
    //     }
    //     .detailInfo{
    //         width: 100%;
    //         height: 100%;
    //         background-color: #7451d4;
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         transition:
    //             top 1000ms,
    //         ;
    //     }
    // }

    
    // .view.true{
    //     transform: translateX(0);
    //     z-index: -1;
    // }
    // .view.false{
    //     transform: translateX(-30%);
    //     z-index: -1;
    // }
    
}