$color-title: #ddd;
$color-alert: #009df7;
$color-body: #fff;
$color-alertBG: white;
$color-forecastBG: #eee;

$color-font: #333333;
$color-graphB: #3F8EF5;
$color-graphG: #8be001;
$color-graphY: #FEE596;
$color-graphR: #FF595E;

$shadowColor: 1px 5px 4px rgb(168, 168, 168);
