

.listSky {
    position: absolute;
    top: 0;
    // transform: translate(0 -50%);
    z-index: 4;
    width: 90vw;
    // height: 93vh;

    // margin: 5%;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 0;
}

.listTitle {
    display: flex;
    align-items: center;
    width: 90%;
    position: relative;

    .listClose {
        position: absolute;
        right: 0;
    }
}

h2 {
    margin: 15px 0;
}

.locationSearch {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    span {
        margin-right: 10px;
    }
}
.timeSearch {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    span {
        margin-right: 10px;
    }
    
}

.selectArea {
    background-color: #f0f3f8;
    width: calc(100% - 40%);
    height: 150px;
    border-radius: 10px;
    margin-bottom: 30px;

    padding: 0 15%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    // align-items: center;
    // border: 1px solid #dad9e4;
    
    .liout { //지역,조회기간 밖 전체
        display: flex;
    }

    // .liin {
    //     // display: flex;

    //     // p {margin-right: 65px;}
    // }
}

.listTable {
    width: 80%;
    // height: 90%;
    // overflow: hidden;
    
    h3 {
        margin-bottom: 10px;
    }
    
    .listData {
        height: 480px; //줄당 30px
        overflow: auto;
        border: 1px solid #dad9e4;
        margin-bottom: 15px;

        // ::-webkit-scrollbar {
        //     width: 8px; /* 스크롤바의 너비 */
        //     height: 8px; /* 스크롤바의 높이 (수평 스크롤바용) */
        // }
        /* 스크롤바 thumb 스타일 */
        // ::-webkit-scrollbar-thumb {
        //     background-color: rgba(0, 0, 0, 0.3); /* 스크롤바 thumb 색상 */
        //     border-radius: 10px;
        // }

        // ::-webkit-scrollbar-track {
        //     background-color: #f1f1f1; /* 스크롤바 트랙 색상 */
        // }
    }

    
    // .listGraph {
    //     width: 100%;
    //     height: 300px;
    //     border: 1px solid #dad9e4;
    // }
}


.timeSearch > button {
    margin-right: 15px;
    
}
.label {
    display: flex;
}
label {
    margin-right: 10px;
    display: flex;
    align-items: center;

    span {
        margin-left: 3px;
    }
}

// .l1 {
//     width: 80%;
//     height: 800px;
//     margin: 25px 0;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     gap: 36px;
// }


button {   //버튼 태그
    width: 80px;
    height: 32px;
    padding: 5px;

    background-color: #d5e1f0;
    // background-color: #8aafff;
    border: none;
    border-radius: 5px;

}

select  {
    width: 23%;
    height: 30px;
    padding: 0 15px;

    border-radius: 10px;
    margin-right: 15px;

    border: 1px solid #81808d;
    color: #333;
}

#prev, #now {
    width: 20%;
    height: 30px;
    padding: 0 15px;

    border-radius: 10px;
    margin-right: 15px;

    border: 1px solid #81808d;
    color: #333;
}



// 기본 테이블 스타일
table {
    width: 100%;
    border-collapse: collapse;
    // margin: 20px 0;
    font-family: Arial, sans-serif;
  
    th,
    td {
      padding: 12px;
      text-align: center;
      border: 1px solid #ddd;
      width: 80px;
      height: 20px;
    }
  
    th {
      background-color: #f0f3f8;
      font-weight: bold;
      color: #333;
    }
  
    td {
      background-color: #fff;
      color: #555;
    }
  
    tr:nth-child(even) td {
      background-color: #f9f9f9;
    }
  
    // tr:hover td {
    //   background-color: #e0e0e0; // 호버 시 색상 변화
    // }
  }


 