@import '../setting/color.scss';

.mainContentArea {
    height: 91vh;
    margin: 15px;

    display: flex;
    gap: 15px;
    
    background-color: transparent;
}

// ******************************

.leftArea {
    flex: 1;
    width: 510px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    background-color: transparent;

    .circlegraph {
        padding: 10px;
    
        border-radius: 5px;
        box-shadow: 1px 5px 4px rgb(168, 168, 168);
        background-color: $color-body;
    }
}

.centerArea {
    flex: 1;
    width: 550px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    background-color: transparent;

    .mapArea {
        height: 720px;
        padding: 10px;
    
        border-radius: 5px;
        box-shadow: 1px 5px 10px rgb(106, 106, 106);
        background-color: $color-body;
    }
}

.rightArea {
    flex: 1;
    width: 510px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    background-color: transparent;
}

// ******************************

@media (max-width: 480px) {
    header {
        width: 100%;
    }

    .didid {
        height: auto;
        
        flex-direction: column;
        align-items: center;
    }

    .leftArea {
        order: 2;
        flex: 1;

        .inc {
            width: 100%;
            height: 290px;
        }
    }

    .centerArea {
        order: 1;

        .titleArea {
            width: calc(80% - 30px);
            height: 10px;
            margin-bottom: 0;
            
            position: absolute;
            z-index: 2;
            top: 10%;
            left: 50%;
            transform: translate(-50%);
        }

        .mapArea {
            margin: 0;
            padding: 0;
            height: auto;

            background-color: transparent;
            box-shadow: none;
        }

        #map {
            width: 100%;
        }
    }

    .rightArea {
        order: 3;
        flex: 1;

        .linegraph {
            height: 310px;
        }
    }
}
