@import '../setting/color.scss';
@import '../setting/base.scss';

//메인 전체박스 영역(헤더 제외)
.mainContentArea {
    height: 91vh;
    margin: 15px;

    display: flex;
    gap: 15px;
    
    background-color: transparent;
}

// ******************************

//왼쪽 전체박스
.leftArea {
    @include mainArea(510px);

    .circlegraph {
        @include graphArea;
        padding: 10px;
    }
}

// 중앙 전체박스
.centerArea {
    @include mainArea(550px);

    .mapArea {
        @include graphArea;
        height: 725px;
        padding: 10px;
    }
}

// 오른쪽 전체박스
.rightArea {
    @include mainArea(510px);
}


// 통계
.statisics {
    position: absolute;
    background-color: $color-body;
    z-index: 4;
    width: 90%;
    height: 886px;
}
// ******************************

// 미디어쿼리(통계영역)
@media (max-width: 1300px) {
    .statisics {
        @include flexSetting;
        width: 100%;
        height: 970px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    
    .listSky {
        @include flexSetting;
        transform: translate(5%);
    }

    .label {
        transform: translateX(60px);
        margin-top: 1%;
    }
  }

  @media (max-width: 780px) {
    .statisics {
        width: 100%;
        min-height: 970px;
        top: 0;
    }
    .label {
        margin-top: 1%;
    }

    .timeSearch > button {
        transform: translateX(60px);
    }
  }
