@import '../setting/color.scss';

.mainContentArea {
    height: 91vh;
    margin: 15px;

    display: flex;
    gap: 15px;
    
    background-color: transparent;
}

// ******************************

.leftArea {
    flex: 1;
    width: 510px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    background-color: transparent;

    .circlegraph {
        padding: 10px;
    
        border-radius: 5px;
        box-shadow: 1px 5px 4px rgb(168, 168, 168);
        background-color: $color-body;
    }
}

.centerArea {
    flex: 1;
    width: 550px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    background-color: transparent;

    .mapArea {
        height: 720px;
        padding: 10px;
    
        border-radius: 5px;
        box-shadow: 1px 5px 10px rgb(106, 106, 106);
        background-color: $color-body;
    }
}

.rightArea {
    flex: 1;
    width: 510px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    background-color: transparent;
}


// 통계
.statisics {
    position: absolute;
    // display: flex;
    // justify-content: center; /* 수평 가운데 정렬 */
    // align-items: center;
    // top: 0;
    // top: 50%;
    // margin-top: -50px; /* height의 50% */
    background-color: #fff;
    z-index: 4;
    width: 90vw;
    height: 93%;
    // padding: 15%;
}
// ******************************

// @media (max-width: 480px) {
//     header {
//         width: 100%;
//     }

//     .didid {
//         height: auto;
        
//         flex-direction: column;
//         align-items: center;
//     }

//     .leftArea {
//         order: 2;
//         flex: 1;

//         .inc {
//             width: 100%;
//             height: 290px;
//         }
//     }

//     .centerArea {
//         order: 1;

//         .titleArea {
//             width: calc(80% - 30px);
//             height: 10px;
//             margin-bottom: 0;
            
//             position: absolute;
//             z-index: 2;
//             top: 10%;
//             left: 50%;
//             transform: translate(-50%);
//         }

//         .mapArea {
//             margin: 0;
//             padding: 0;
//             height: auto;

//             background-color: transparent;
//             box-shadow: none;
//         }

//         #map {
//             width: 100%;
//         }
//     }

//     .rightArea {
//         order: 3;
//         flex: 1;

//         .linegraph {
//             height: 310px;
//         }
//     }
// }

@media (max-width: 1300px) {
    .statisics {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .listSky {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(5%);
    }

    .label {
        transform: translateX(60px);
        // transform: translateY(5px);
        margin-top: 1%;
    }
  }

  @media (max-width: 780px) {
    .statisics {
        width: 100vw;
        height: 100vh;
    }
    .label {
        // transform: translateX(60px);
        // transform: translateY(5px);
        margin-top: 1%;
    }

    .timeSearch > button {
        transform: translateX(60px);
    }
  }