@import '../setting/color.scss';
@import '../setting/base.scss';

.mainContentArea {
    width: 100%;
    height: auto;

    display: flex;
        
    flex-direction: column;
    align-items: center;
}

// ******************************

.leftArea {
    @include mainArea(100%, 100%);

    .circlegraph {
        @include graphArea();
        padding: 10px;
    
    }
}

.centerArea {
    @include mainArea(100%, 100%);

    .mapArea {
        @include graphArea();
        height: fit-content;
        width: fit-content;
        padding: 0;
    
        #map {
            width: 100%;
            height: 400px;
        }
    }
}

.rightArea {
    @include mainArea(100%, 100%);
}

// 검색
.select {
    @include flexSetting(center, space-evenly);
    width: 80%; //800px
    margin: 5% 0;

    select {
        width: 100%;
        height: 30px;
        padding: 0 15px;

        border-radius: 30px;
        margin-right: 15px;
    }

    button {
        @include flexSetting();
        width: 115px;
        height: 30px;

        // display: flex;
        // justify-content: center;
        // align-items: center;

        border-radius: 30px;
    }
   }

// 시도 표기 박스
.centerArea {
width: 100%;
height: 80%;
}

.titleArea {
    text-align: justify;
   }

.alertArea {
    width: 100%;
    margin-top: 5% 0;
}


// 원형 그래프
   .info .firstRow {
    flex-wrap: wrap;
    justify-content: center;
   }

   .info .secondRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
   }
   
   .info .firstRow .infoItem {
        width: 190px;
        height: 200px;
    }

    .info .firstRow .progress-text .circleminV {
        position: absolute;
        top: 63%;
        left: 8%;
        font-size: 10pt;
    }
   .info .firstRow .progress-text .circlemaxV {
        position: absolute;
        top: 63%;
        left: 85%;
        font-size: 10pt;
   }