@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

::-webkit-scrollbar {display: none;}
* {margin: 0; padding: 0;}

body {
    width: 100vw;
    height: 100vh;

    font-family: "Gothic A1", serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to bottom, #f1f8ff 0%, #c5def5 90%) ;

}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
}